
@{
    ViewBag.Title = "simpleStartingSample";
}

<h2>simpleStartingSample</h2>
<p style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"   > Welcome to Our Program </p>

